/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f5f5f5;
  background-color: #2b2b2a;
  line-height: 1.6;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

/* Anchor Links */
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding-bottom: 5px;
}
a:hover {
  color: #fdbb2d;
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #a4c3f0;
  transition: width 0.3s ease-in-out;
}
a:hover::after {
  width: 100%;
}